body {
  -webkit-app-region: drag;
}

/* Helper class */
.drag {
  -webkit-app-region: drag;
}
.no-drag {
  -webkit-app-region: no-drag;
}

/* Prefligh to disable cursor pointer and user selection to feel native */
*, a, button {
  -webkit-user-drag: none;
  @apply select-none cursor-default;
}

/* Allow interactive items to be clickable */
a, button {
  -webkit-app-region: no-drag;
}