/* Normalize z-index for main app content */
#__next {
  z-index: 0;
  position: relative;
}

/* Full height page */
html,
body,
body > div:first-child,
div#__next,
div#__next > div {
  height: 100%;
}

html,
body {
  @apply bg-gray-800 dark:bg-gray-800;
  /* @apply antialiased; */
  font-size: 16px;
}
