body {
  -webkit-app-region: drag;
  @apply select-none;
}

/* Helper class */
.electron-drag {
  @apply select-none;
  -webkit-app-region: drag;
}

/* Allow interactive items to be clickable */
button {
  -webkit-app-region: no-drag;
}